* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
}

header {
    background-color: black;
    height: 100px;
}

.header {
    height: 100px;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 100%;
    width: auto;
    cursor: pointer;
}

.header ul {
    list-style-type: none;
    display: flex;
}

.header a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 13px;
    padding-bottom: 36px;
    padding-top: 50px;
}

.header a:hover, .header .active a {
    border-bottom: 5px solid rgb(165, 77, 42);
    color: #ccc;
}

.banner {
    height:calc(100vh - 100px);
    background-image: url(../imgs/complementos/bg.jpg);
    background-position: top;
    background-size: cover;
    overflow:hidden;
}

.banner .slides {
    height: 100%;
    width: 1000vw;
    
}

.banner .slide {
    height: 100%;
    width: 100vw;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner h1 {
    font-size: 60px;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
}

.banner h1 span {
    color: #b28756;
}

.banner p {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 15px;
}

.banner button {
    width: 150px;
    height: 40px;
    background-color: #b28756;
    color: white;
    border-radius: 20px;
    border: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.banner button:hover {
    background-color: #b28756cb;
}


.banner .pass-slides {
    display: flex;
    justify-content: space-between;
    width: 70px;
    position: absolute;
    margin-top: 900px;
}

.banner .pass-1, .pass-2, .pass-3 {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #b28756;
    cursor: pointer;
}
.banner .pass-1:hover, .pass-2:hover, .pass-3:hover {
    background-color: #b28756;
}


.banner .pass-1 {
    background-color: #b28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .default-title, .default-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .default-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.default .default-subtitle {
    font-size: 14px;
    color: gray;
    margin-bottom: 30px;
}

.default .default-body {
    margin: auto;
    max-width: 1140px;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light .default-title,.default.light .default-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .default-title, .default-body {
    color: #fff;
}


/*CSS AREAS ESPECIFICAS*/

.section-aboutus {
    display: flex;
    justify-content: space-between;
}

.section-aboutus--left {
    flex:1;
}

.section-aboutus--left p {
    letter-spacing: 1px;
    line-height: 25px;
}

.section-aboutus--left button {
    margin-top: 35px;
    height: 40px;
    width: 200px;
    background-color: #b28756;
    border: 0;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.section-aboutus--left button:hover {
    background-color: #a77e4f;
}

.section-aboutus--right {
    width: 500px;
    margin-left: 30px;
}

.section-aboutus--right img {
    height: 300px;
    width: 100%;
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
}

.section-services {
    display: flex;
    align-items: center;
}

.section-service {
    text-transform: uppercase;
    border-right: 1px solid #cccccc42;
    flex: 1;
    text-align: center;
    padding: 10px;
}

.section-service img {
    margin-bottom: 30px;
}

.section-service h2 {
    font-size: 20px;
}


.section-service p {
    font-size: 10px;
    color: #ccc;
    padding: 10px;
}

.section-service:first-child{
    border-left: 1px solid #cccccc42;
}

.section-projects--filters ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 26px;
    background-color: #a77e4f1e;
    list-style-type: none;
    border: 1px solid #ccc;
    width: 700px;
    margin: auto;
    text-transform: uppercase;
}
 .section-projects--filters li {
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    padding: 20px;
    transition: all 0.05s ease-in-out;
 }

 .section-projects--filters li:hover {
    background-color: #a77e4f50;
    border-radius: 25px;
 }

 .section-projects--filters .filters-active {
    background-color: #a77e4f50;
    border-radius: 25px;
 }

 .section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
 }

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
}

.section-projects--photoinfo h2 {
    font-size: 20px;
    font-weight: 600;
}
.section-projects--photoinfo p {
    color: #ccc;
    font-size: 14px;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
    cursor: pointer;
}

.section-projects--photos button {
    height: 45px;
    width: 200px;
    background-color: #b28756;
    border: 0;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.section-projects--photos button:hover {
    background-color: #a77e4f;
}


.section-happy-clients {
    text-align: center;
}

.section-happy-clients .happy-man {
    margin-bottom: 30px;
}

.section-happy-clients .happy-man img {
    margin-bottom: 30px;
}

.section-happy-clients .happy-man h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.section-happy-clients .happy-man p {
    font-size: 17px;
    font-weight: 600;
}

.section-happy-clients p {
    max-width: 800px;
    margin: auto;
}

.section-happy-clients .quote-text img {
    margin-bottom: 10px;
}

.section-happy-clients .pass-slides {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin: auto;
    margin-top: 50px;
}

.section-happy-clients .pass-1, .pass-2, .pass-3 {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #b28756;
    cursor: pointer;
}
.section-happy-clients .pass-1:hover, .pass-2:hover, .pass-3:hover {
    background-color: #b28756;
}


.section-happy-clients .pass-1 {
    background-color: #b28756;
}

.img-companies {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1140px;
    margin: auto;
}

.companies {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-prices {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-prices .price, .price-premium {
    background-color: white;
    padding: 25px;
    min-height: 400px;
    width: 270px;
    border: 1px solid black;
}

.price {
    text-align: center;
}

.price h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.price h1 {
    font-size: 35px;
    margin-bottom: -5px;
}

.price p {
    font-size: 13px;
    color: #969696;
}

.price h6 {
    margin-top: 25px;
}

.price hr {
    width: 10px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -20px;
}
.price button {
    width: 130px;
    height: 45px;
    background-color: #333;
    border: 0;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 13px;
    margin-top: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

.price button:hover {
    background-color: #333333d7;
}

.price-premium {
    text-align: center;
}
.price-premium h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.price-premium h1 {
    font-size: 35px;
    margin-bottom: -5px;
}

.price-premium p {
    font-size: 13px;
    color: #969696;
}

.price-premium h6 {
    margin-top: 25px;
}

.price-premium hr {
    width: 10px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -20px;
}

.price-premium button {
    width: 130px;
    height: 45px;
    background-color: #b28756;
    border: 0;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 13px;
    margin-top: 40px;
    text-transform: uppercase;
    cursor: pointer;
}
.price-premium button:hover {
    background-color: #a77e4f;
}

.facts {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.fact {
    text-align: center;
}

.fact h1 {
    color: #a77e4f;
    font-size: 40px;
}

.fact hr {
    width: 20px;
    height: 5px;
    background-color: #969696;
    border: 0;
    margin: auto;
}

.fact h3 {
    margin-top: 15px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.imgs-tell-about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1140px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-us {
    margin-top: 100px;
    margin: auto;
}

.contact-us .name-email {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us .name {
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #969696;
    width: 250px;
    padding: 10px;
}

.contact-us .email {
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #969696;
    margin-left: 20px;
    width: 250px;
    padding: 10px;
}

.contact-subject {
    display: flex;
    margin-top: 30px;
}

.contact-message {
    display: flex;
    margin-top: 50px;
}

.subject {
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #969696;
    padding: 10px;
    margin: auto;
    width: 520px;
}

.message {
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #969696;
    padding: 10px;
    margin: auto;
    width: 520px;
}

.contact-us button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 40px;
    background-color: #b28756;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
    margin: auto;
    border: 0;
    margin-top: 50px;
    text-transform: uppercase;
}

.footer {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

